body > header {
    z-index: 99;
    height: 400px;
    width: 100%;
    position: absolute;
    top: 120px;
    background-color: coral;
}

header img {
    margin: 0 auto;
    display: block;
}

header h2 {
    text-align: center;
    font-weight: normal;
}

header h2 span {
    font-weight: bold;
}

@media (min-width: 1024px) {
    body > header {
        position: static;
        margin-top: 160px;
        width: 30%;
        padding-top: 50px;
        height: 500px;
    }
  }