.new-tweet label {
    float: left;
    padding-bottom: 5px;
}

.new-tweet textarea {
    border: none;
    resize: none; 
    float: left;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border-bottom: 2px solid black;
}

.new-tweet textarea:focus {
    outline: none;
}

.new-tweet button {
    float: left;
    color: white;
    background-color: coral;
    border: none;
    border-radius: 3px;
}

.new-tweet output {
    float: right;
}

.new-tweet output.red {
    color: red;
}

.new-tweet button, .new-tweet output {
    margin-top: 10px;
    font-family: 'Bungee', cursive;
}

.new-tweet strong.red {
    color: red;
}