#tweets {
    position: absolute;
    top: 250px;
    width: 100%;
}

#tweets * {
    margin: 0;
}

#tweets article {
    padding: 15px;
    border: 2px solid black;
}

#tweets header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}