#tweets {
    position: absolute;
    top: 250px;
    width: 100%;
}

#tweets * {
    margin: 0;
}

#tweets article {
    margin: 20px 0;
    padding: 15px;
    border: 2px solid black;
}

#tweets article:hover {
    box-shadow: 5px 5px #6582e2;
}

#tweets header {
    margin-bottom: 30px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

#tweets main {
    margin: 30px 0;
    padding: 0 10px;
    font-weight: bold;
}

#tweets footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    border-top: 2px solid black;
    font-size: 15px;
}

#tweets .username {
    color: #6582e2;
}

#tweets .icons span {
    margin: 0 5px;
    color: #6582e2;
}