#tweets {
    position: absolute;
    top: 250px;
    width: 100%;
}

.tweet {
    margin: 20px 0;
    padding: 15px;
    border: 2px solid black;
}

.tweet img {
    margin: 0;
}

.tweet:hover {
    box-shadow: 5px 5px #6582e2;
}

.tweet header {
    margin-bottom: 30px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.tweet header section {
    display: flex;
    align-items: center;
    width: 10rem;
    justify-content: space-between;
}

.tweet main {
    margin: 30px 0;
    padding: 0 10px;
    font-weight: bold;
}

.tweet footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    border-top: 2px solid black;
    font-size: 15px;
}

.tweet .username {
    color: #6582e2;
}

.tweet .icons span {
    margin: 0 5px;
    color: #6582e2;
}